<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!-- excel column settings-->
      <add key="FieldColumnNumber" value="0" />
      <add key="BagNameColumnNumber" value="1" />
      <add key="SeedsToPlantColumnNumber" value="2" />
      <add key="SeedsToSampleColumnNumber" value="3" />
      <add key="SamplesColumnNumber" value="4" />
      <add key="CommentColumnNumber" value="5" />


      <add key="FieldColumnName" value="חלקה" />
      <add key="BagNameColumnName" value="שקית זרעים" />
      <add key="SeedsToPlantColumnName" value="זריעה" />
      <add key="SeedsToSampleColumnName" value="PCR" />
      <add key="SamplesColumnName" value="עמידות" />
      <add key="CommentColumnName" value="הערות" />


      <!-- default genetic algorithm settings-->
      <add key="PopulationSize" value="50" />
      <add key="NumberOfGenerations" value="1000" />
      <add key="MutationChance" value="0.05" />
      <add key="CrossoverChance" value="0.8" />
      <add key="ElitePercentage" value="5" />
      
      <!-- default cost settings -->
      <add key="TrayCost" value="100" />
      <add key="SampleCost" value="1" />

      <!-- default plantation settings-->
      <add key="Plate_SamplesCount" value="92"/>
      <add key="Tray_RowsCount" value="17"/>
      <add key="Tray_CellsInRowCount" value="11"/>
      
    </appSettings>
</configuration>